@media (min-width: 480px) {
    .container-1 {
        display: flex;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .container-2 {
        display: flex;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color:brown;
    }
}
    .container-1 div, .container-2 {
        border: 1px blue solid;
        padding: 10px;
    }
    .box-1 {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box-2 {
        flex: 3;
    }
    .box-3 {
        flex: 1;
    }